# shellcheck shell=zsh

source $HOME/.miniforge/etc/profile.d/conda.sh

if [ -f "$HOME/.miniforge/etc/profile.d/mamba.sh" ]; then
    . "$HOME/.miniforge/etc/profile.d/mamba.sh"
fi

echo "python dev shell, using:"
conda --version
python3 --version
